---
import "@styles/global.css";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/cleanpedia/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main>
      <table>
        <tr>
          <td>
            <a href="/cleanpedia/">Home</a>
          </td>
          <td>
            <a href="/cleanpedia/appendix-a/">Appendix A</a>
          </td>
        </tr>
      </table>
      <h1>{frontmatter.title}</h1>
      <slot />
    </main>
  </body>
</html>
